h1 {font-size:40px;text-align:center;border:20px solid #111111;padding:10px;margin-top:10px
}
h2{
  background: #ADD8E6
}
p { 
    text-align:left;
}
strong {
    color:#FF1493;
}
body{
  background:#CCCCCC;
}
#banner{height:400px;width:100%;border:10px solid;
  }
h3{ border: 10px solid;padding :20px;width:25%}

